.login-form-field:focus,
.login-form-field:valid{
  border-bottom: 3px solid #d83d59;
}

#login-form-submit:hover {
  color: #d83d59;
}

#signup-form-submit:hover {
  background-color: #d83d59;
  color: white;
}

#login-form-submit {
  background-color: #d83d59;
  border-color: #d83d59;
}

#signup-form-submit {
  border-color: #d83d59;
  color: #d83d59;
}