.login-form-field:focus,
.login-form-field:valid{
  border-bottom: 3px solid #5b4bef;
}

#login-form-submit:hover {
  color: #5b4bef;
}

#signup-form-submit:hover {
  background-color: #5b4bef;
  color: white;
}

#login-form-submit {
  background-color: #5b4bef;
  border-color: #5b4bef;
}

#signup-form-submit {
  border-color: #5b4bef;
  color: #5b4bef;
}