.login-form-field:focus,
.login-form-field:valid{
  border-bottom: 3px solid #30725d;
}

#login-form-submit:hover {
  color: #30725d;
}

#signup-form-submit:hover {
  background-color: #30725d;
  color: white;
}

#login-form-submit {
  background-color: #30725d;
  border-color: #30725d;
}

#signup-form-submit {
  border-color: #30725d;
  color: #30725d;
}